<!-- app.component.html -->
<div class="form-group">
    <mat-form-field class="mat-accent">
      <input matInput [placeholder]="placeholder" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" [(ngModel)] = 'query' (keyDown.enter)="getAddress()" class="form-control" #search [formControl]="searchControl">
      <mat-icon matSuffix (click)="showhidemap=!showhidemap">gps_fixed</mat-icon>
    </mat-form-field>
</div>
<agm-map [hidden]="!showhidemap" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (mapClick)="placeMarker($event)" >
  <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
</agm-map>
