.example-container {
    display: flex;
    flex-direction: column;
}
.example-container > * {
    width: 100%;
}
.docs-example-viewer-wrapper {
    border: 1px solid rgba(0,0,0,.03);
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
    margin: 4px;
}
.docs-example-viewer-title{
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px 20px;
}
.docs-example-viewer-title-spacer{
    flex: 1 1 auto;
}
.docs-example-viewer-body{
    padding: 30px;
    background: white;
}
.docs-example-viewer-title {
    color: rgba(0,0,0,.54);
    background: #00000008;
}
.row-container{
    padding: 10px;
}
.row{
    margin: 0px !important;
}
.col{
    padding: 0px !important;
    display: inline-table;
}
::ng-deep .mat-form-field{
    width:100%;
}

.ErrorClass{
    border:1px solid red;
}
.ErrorMessege{
    color:red;
    font-size: 11px;
    position: absolute;
    top: 35px;
}
::ng-deep .mat-chip-list-wrapper {
    display: block !important;
}

.theamColor{
    padding: 7px 25px;
    background-color: #2e635a;
    color:white;
}
.pull-right{
    float:right;
}