<div class="row row-container">
    <div class="col">
      <!-- Description will go here -->
    </div>
    <div class="docs-example-viewer-wrapper col">
      <div class="docs-example-viewer-body">
        <div class="example-container">
          <app-gmapcomp [placeholder]="'Select pickup location'"></app-gmapcomp>
          <app-gmapcomp [placeholder]="'Select drop location'"></app-gmapcomp>
         
          <mat-form-field>
            <textarea matInput placeholder="Add address here"></textarea>
          </mat-form-field>
          
        </div>
      </div>
    </div>
    <div class="docs-example-viewer-wrapper col">
      <div class="docs-example-viewer-body cart">
        <form class="example-form">
        <mat-form-field>
          <mat-select placeholder="Select category">
            <mat-option value="option">Bike</mat-option>
            <mat-option value="option">Auto</mat-option>
            <mat-option value="option">Mini truck</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-list *ngIf="cartDetails.length>0">
          <ng-container *ngFor="let item of cartDetails">
            <div>
              <mat-chip-list>
                  <mat-chip class="theamColor" >{{item.ItemName}}</mat-chip>
                  <mat-chip class="theamColor" (click)="modifyItemCount('minus',item)">-</mat-chip>
                  <mat-chip class="theamColor" >{{item.ItemCount}}</mat-chip>
                  <mat-chip class="theamColor" (click)="modifyItemCount('plus',item)">+</mat-chip>
              </mat-chip-list>
            </div>
          </ng-container>
        </mat-list>
        <div style="margin-top:20px;">
          <!--  -->
          <!-- <input [ngClass]="{'ErrorClass':itemError.ErrorStatus}" type="text" id="newitem" placeholder="Add item" (focus)="enableAddButton(true)" (blur)="enableAddButton(false)"> -->
          <mat-form-field class="example-form-field">
              <input class='mat-form-field-invalid mat-input-element' matInput type="text" placeholder="Add item" [(ngModel)]="newItem" name="newItem" id='newitem'>
              <button mat-button *ngIf="newItem" matSuffix mat-icon-button aria-label="Clear" (click)="newItem=''">
                <mat-icon>close</mat-icon>
              </button>
              <div  class="ErrorMessege">{{itemError.ErrorMessage}}</div>
          </mat-form-field>
          <button mat-raised-button *ngIf="newItem!=''" (click)="addItemToCart($event)">Add to cart</button>

          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Leave your suggestions !"></textarea>
          </mat-form-field>

          <label>Bill details: </label>
          <mat-list role="list">
            <mat-list-item role="listitem">Total items :<span class="billData">10</span></mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Delivery Fee :<span class="billData">10</span></mat-list-item>
          </mat-list>
        </div>
      </form>
      </div>
    </div>
  </div>