.example-button-toggle-label {
    display: inline-block;
    margin: 16px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
.container{
    padding: 10px;
}
::ng-deep .mat-tab-labels{
    _background-color: #06635a;
    background-image: linear-gradient(#06635a, #33bdb0);
}
::ng-deep .mat-tab-label{
    opacity: 1 !important;
    font-weight: 600;
}
agm-map {
    height: 500px;
}
/* ::ng-deep .inline_svg svg{
    width:25px;
    height:25px;
} */
.navbar{
    padding: 10px;
    display: block;
    background-color: #e8f9f9b3;
}
.nav-link{
    padding: 0px;
}
.nav-link button{
    margin: 5px;
    border-radius: 20px;
}
button:focus{
    outline: 0 !important;
}
.logo{
    top: 28px;
    left: 72px;
    color: #06635a;
    position: absolute;
    font-size: 20px;
    font-weight: 900;
}
.slogan{
    top: 51px;
    color: #06635a;
    position: absolute;
    padding: 0px 12px;
    font-size: 12px;
    left: -7px;
}
.specialChart{
    color:#e65e0e;
}
/* --------------------------------- */
.body{
    background-image: url('/assets/img/background5.jpg');
    _background:linear-gradient(0deg,rgba(255,0,150,0.3),rgba(255,0,150,0.3)),url('/assets/img/background5.jpg');
    background-size: cover;
    width:100%;
    height: 630px;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}
.card {
    color:white !important;
    border-radius: .25rem;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    display: block;
    margin-bottom: 20px;
    position: relative;
    margin: 10px;
    _width:20%;
    min-width: 200px;
    padding: 16px;
    float: left;
    width: inherit;
}
.mat-card-header{
    display: block;
}
.card_header{
    height: 100px;
}
.card_title{
    color:white;
    font-size: 20px !important;
    font-weight: bold !important;
    text-align: center;
}
.bg-info {
    background-color: #156b85!important;
}
.bg-success {
    background-color: #28a745!important;
}
.bg-danger{
    background-color: #dc3545!important;
}
.bg-warning{
    background-color: #e86828!important;
}
.card_subtitle{
    color:white;
    text-align: center;
}
.card-footer{
    background: rgba(0,0,0,.1);
    color: #fff;
    color: rgba(255,255,255,.8);
    display: block;
    padding: 5px !important;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 10;
}
.card:hover{
    cursor: pointer;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}
.pull-right{
    float:right;
}
.nav_button{
    display: inline-block !important;
}
