<div class="body">
  <nav class="navbar navbar-expand-lg head_navbar">
      <span class="nav-link pull-right">
        <button mat-raised-button color="primary">Sign Up</button>
        <button mat-raised-button color="primary">Login</button>
      </span>
      <a class="nav-link" href="#">
          <img alt="Teru" class="docs-angular-logo inline_svg" width="80" height="50" src="../../../assets/svg/terulogo.svg">
          <span class="logo">T<span class="specialChart">ē</span>ru</span><span class="slogan">We deliver your valuables</span>
      </a>
  </nav>
  <div id="home" *ngIf="!selectedOrder">
    <div class="row container-fluid">
      <div class="col">
        <mat-card class="Deliver-card card bg-info" (click)="selectedOrder=1">
          <mat-card-header class="card_header">
            <mat-card-title class="card_title">Deliver</mat-card-title>
            <mat-card-subtitle class="card_subtitle">Fast and reliable local delivery.</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
          </mat-card-content>
          <mat-card-actions class="card-footer">
            More info
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col">
        <mat-card class="Deliver-card card bg-danger" (click)="selectedOrder=2">
          <mat-card-header class="card_header">
            <mat-card-title class="card_title">Schedule your parce</mat-card-title>
            <mat-card-subtitle class="card_subtitle">Fast and reliable local delivery.</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
      
          </mat-card-content>
          <mat-card-actions class="card-footer">
            More info
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col">
        <mat-card class="Deliver-card card bg-success" (click)="selectedOrder=3">
          <mat-card-header class="card_header">
            <mat-card-title class="card_title">Paid Service</mat-card-title>
            <mat-card-subtitle class="card_subtitle">we buy your needs and deliver to you (only retails)</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
      
          </mat-card-content>
          <mat-card-actions class="card-footer">
            More info
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col">
        <mat-card class="Deliver-card card bg-warning" (click)="selectedOrder=4">
          <mat-card-header class="card_header">
            <mat-card-title class="card_title">Daily service</mat-card-title>
            <mat-card-subtitle class="card_subtitle">Your needs will be fulfilled everyday</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
      
          </mat-card-content>
          <mat-card-actions class="card-footer">
            More info
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  <div id="ordersPage" *ngIf="selectedOrder!=false">
    <app-placeorder></app-placeorder>
  </div>
  <!-- <mat-tab-group [color]="'accent'" [backgroundColor]="'accent'">
    <mat-tab label="Deliver"> 
    
    </mat-tab>
    <mat-tab label="Service"> 
      
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [zoomControl]="false" (mapClick)="mapClicked($event)"> 
        <agm-marker [latitude]="lat" [longitude]="lng">
         </agm-marker> 
      </agm-map>
    </mat-tab>
    <mat-tab label="About Us"> About Us</mat-tab>
  </mat-tab-group> -->

  <!-- <agm-map 
    [latitude]="lat" 
    [longitude]="lng"
    [zoom]="zoom"
    [disableDefaultUI]="false"
    [zoomControl]="false"
    (mapClick)="mapClicked($event)"> -->
    
    <!-- <agm-marker 
        *ngFor="let m of markers; let i = index"
        (markerClick)="clickedMarker(m.label, i)"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [label]="m.label"
        [markerDraggable]="m.draggable"
        (dragEnd)="markerDragEnd(m, $event)">
        
        <agm-info-window>
          <strong>InfoWindow content</strong>
        </agm-info-window>
    </agm-marker> -->

    <!-- <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
        [radius]="5000"
        [fillColor]="'red'"
        [circleDraggable]="true"
        [editable]="true">
    </agm-circle> -->
  <!-- </agm-map> -->
</div>